<div class="posts">
  {{#each posts}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/post/{{!-- handlebar code here --}}">{{!-- handlebar code here --}}</a>
      </h2>
      <div>
        Posted by {{!-- handlebar code here --}} on {{!-- handlebar code here --}}
      </div>
    </div>
    <div class="card-body">
      {{!-- handlebar code here --}}
    </div>
  </article>
  {{/each}}
</div>