<div class="posts list-group">
  {{#each posts}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{!-- handlebar code here --}}">
      <span>{{!-- handlebar code here --}}</span>
      <span>{{!-- handlebar code here --}}</span>
    </a>
  {{/each}}
</div>